<!DOCTYPE html>
<html>
<head>
    <partial name="_PageHeadElement"/>
    
    @RenderSection("Styles", required: false)
    @RenderSection("HeadScripts", required: false)
</head>
<body>
    <partial name="_GoogleTagManagerBodyElement" />

    <partial name="_Sidenav"/>
    <div class="main-content">
        <partial name="Topnav/_Topnav"/>
        
        <!-- Header -->
        <div class="header bg-primary pb-6">
            <div class="container-fluid">
                <div class="header-body">
                    <!-- 1st Row: Crumbs and filters -->
                    <div class="row align-items-center py-4">
                        @RenderSection("Breadcrumbs", required: false)
                        <div class="col-lg-6 col-5 text-right">
                            <a href="#" class="btn btn-sm btn-neutral">New</a>
                            <a href="#" class="btn btn-sm btn-neutral">Filters</a>
                        </div>
                    </div>
                    @RenderSection("DashboardCards", required: false)
                </div>
            </div>
        </div>
        
        <!-- Page content -->
        <div class="container-fluid mt--6">
            <!-- Page content -->
            @RenderBody()
            <partial name="_Footer" />
        </div>
    </div>
    
    <partial name="_ThemeScripts" />

    @RenderSection("Scripts", required: false)
</body>
</html>
